* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

.saw-tooth-bottom {
  position: relative;
  bottom: -98%;
  background-color: transparent;
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(-45deg, white 50%, transparent 50%);
  background-position: top left, top left;
  background-size: 24px 24px;
  background-repeat: repeat-x;
  height: 24px;
  width: 100%; }

.saw-tooth-top {
  position: relative;
  top: -3%;
  background-color: transparent;
  background-image: linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(225deg, #fff 50%, transparent 50%);
  background-position: bottom left, bottom left;
  background-size: 24px 24px;
  background-repeat: repeat-x;
  height: 24px;
  width: 100%; }

h2 {
  padding-top: 150px;
  font-family: 'Parisienne', cursive;
  font-size: 3.5em; }
  h2 p {
    font-family: sans-serif;
    font-size: 0.55em;
    font-weight: 700; }
  h2 .flag {
    width: 120px;
    height: 6px;
    background-color: red;
    border: 1px solid black;
    margin: 0 auto; }
    h2 .flag .color {
      height: 100%;
      width: 33%;
      float: left; }
    h2 .flag .green {
      background-color: green; }
    h2 .flag .white {
      background-color: white; }

header .bg-light {
  background-color: #fff !important; }

header .navbar-nav {
  margin: 0 auto;
  height: 120px; }
  header .navbar-nav .nav-item .nav-link {
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    margin: 0 11px;
    letter-spacing: 0.5px;
    color: black;
    transition: all 0.3s linear; }
    header .navbar-nav .nav-item .nav-link:hover {
      color: #D8C29D;
      transition: all 0.3s linear; }
  header .navbar-nav img {
    height: 100%;
    margin: 0 26px; }

header #header-picture {
  background-image: url(../img/header-background.jpg);
  background-position: center left;
  background-size: cover;
  height: 700px;
  width: 100%; }

#news #news-list {
  width: 80%;
  margin: 0 auto; }
  #news #news-list .carousel-item {
    background-image: url(../img/white.jpg); }
    #news #news-list .carousel-item .news-picture-wrapper {
      margin: 0 auto;
      border: 1px solid black;
      padding: 0.7vw;
      width: 80%; }
      #news #news-list .carousel-item .news-picture-wrapper img {
        height: 100%;
        width: 100%; }
    #news #news-list .carousel-item p {
      font-size: 17px; }
  #news #news-list .carousel-indicators {
    position: relative; }
  #news #news-list .list-number {
    position: static;
    text-indent: 0px;
    text-align: center;
    line-height: 21px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #CFCFCF;
    color: white;
    font-size: 9px;
    margin: 10px 15px; }
  #news #news-list .active {
    background-color: #C1A691; }

#offer {
  background-image: url(../img/offer-background.jpg);
  background-position: center right;
  background-size: cover;
  padding: 0; }
  #offer .offer-header {
    color: white;
    padding-top: 50px;
    margin: 0 auto; }
    #offer .offer-header p {
      font-family: sans-serif;
      font-size: 0.45em;
      font-weight: 700; }
  #offer figure {
    display: inline-block;
    width: 111px;
    text-align: center; }
    #offer figure img {
      cursor: pointer;
      height: 111px;
      transition: all 0.2s ease-in-out; }
      #offer figure img:hover {
        transform: scale(1.1); }
    #offer figure figcaption {
      color: white;
      text-align: center;
      font-size: 1.2rem;
      margin-top: 30px;
      font-weight: 500;
      letter-spacing: 1px; }
  #offer .offer-footer {
    color: white;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px; }

#gallery .gallery-header {
  font-size: 3em; }
  #gallery .gallery-header p {
    font-size: 0.75em; }

#gallery .offer-wrapper {
  padding: 30px; }

#gallery .top-counter {
  position: absolute;
  width: 100%;
  margin: 50px auto; }
  #gallery .top-counter .carousel-indicators {
    position: static;
    margin: 50px auto; }
    #gallery .top-counter .carousel-indicators li {
      width: 100%;
      padding: 3px 10px;
      text-indent: 0px;
      text-align: center;
      height: 34px;
      font-weight: 700;
      font-size: 20px;
      margin: 0 10px; }
    #gallery .top-counter .carousel-indicators .active {
      background-color: #AD8B66;
      color: white; }

#gallery .carousel-item {
  margin-top: 140px; }

#gallery .bottom-counter .carousel-indicators {
  position: static;
  margin: 10px auto; }
  #gallery .bottom-counter .carousel-indicators li {
    position: static;
    text-indent: 0px;
    text-align: center;
    line-height: 21px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #CFCFCF;
    color: white;
    font-size: 10px;
    margin: 10px 15px; }

#locals {
  height: 900px;
  background-image: url(../img/locals-backgroung.jpg);
  background-position: center right;
  background-size: cover; }
  #locals .saw-tooth-top {
    top: 0%; }
  #locals h2 {
    color: white; }
